@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.keyboard{
    @apply flex flex-col gap-5 items-center
}

.col{
    @apply flex gap-2
}

.row{
    @apply px-3 py-1 bg-red-400 rounded text-white
}